<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285839895325-2f3e0n63fnj9shh4mgi057d1h6k9ost2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285839895325-2f3e0n63fnj9shh4mgi057d1h6k9ost2</string>
	<key>API_KEY</key>
	<string>AIzaSyBBYE9HuAcQZQ8xwFMUH0xW9vJrXgGFehM</string>
	<key>GCM_SENDER_ID</key>
	<string>285839895325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iqbal.samrtSwitch</string>
	<key>PROJECT_ID</key>
	<string>smart-switches-e6c1d</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-switches-e6c1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285839895325:ios:fb41d0b7113a311e174ff4</string>
	<key>DATABASE_URL</key>
	<string>https://smart-switches-e6c1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>